@page
@using TestEmployeeApp.Model
@model TestEmployeeApp.Pages.OTTPlatform.OTTListModel
@{
    ViewData["Title"] = "OTT List";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .expired {
            color: red;
        }

        .table-container {
            margin-top: 50px;
        }

        .add-platform-container {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1 class="my-4">OTT List</h1>
        <form method="post">
            <div class="row add-platform-container">
                <div class="col-md-6">
                    <label for="ottName">Platform Name:</label>
                    <input type="text" id="ottName" class="form-control" asp-for="NewOTTPlatform.PlatformName" placeholder="Enter OTT Platform Name">
                </div>
                <div class="col-md-4">
                    <label for="ottDescription">Website:</label>
                    <input type="url" id="ottUrl" class="form-control" asp-for="NewOTTPlatform.WebSiteUrl" placeholder="Enter Website"></input>
                </div>
                <div class="col-md-2 align-self-end">
                    <button type="submit" class="btn btn-primary mt-2">Add Platform</button>
                </div>
            </div>
        </form>
        <div class="table-container">
            <h2 class="mb-4">OTT Platforms</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>OTT Platform</th>
                        <th>Web Site</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var platform in Model.OTTPlatforms)
                    {
                        <tr>
                            <td>@platform.PlatformName</td>
                            <td>@platform.WebSiteUrl</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
