@page
@using TestEmployeeApp.Model
@model TestEmployeeApp.Pages.States.StateModel
@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List Of States</title>
       
    </head>
    <body>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="page-content">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="header-icon">
                        <i class="fa fa-building-o"></i>
                    </div>
                    <div class="header-title">
                        <h1> List Of States</h1>
                        <small></small>
                        <ul class="link hidden-xs">
                            <li><a asp-area="" asp-page="/Index"><i class="fa fa-home"></i>Home</a></li>
                            <li><a asp-area="" asp-page="/States/State">State</a></li>
                        </ul>
                    </div>
                </section>
                <!-- page section -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="row">
                                        <form class="col s12 m-t-20" method="post">
                                            <div class="input-field form-input col s5">
                                                <i class="material-icons prefix">account_circle</i>
                                                <input id="icon_prefix" type="text" class="validate">
                                                <label for="icon_prefix">State Name</label>
                                            </div>
                                            <div class="input-field form-input form-input-select col s5">
                                                <label>Country</label>
                                                <select class="icons">
                                                    <option value="" disabled selected>Select Country</option>
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
                                                </select>
                                            </div>
                                            <div class="input-field form-input col s2">
                                                <a type="submit" class="waves-effect waves-light btn blue">Add State</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-content">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="col-md-3">State Name</th>
                                                    <th scope="col" class="col-md-3">Country Name</th>
                                                    <th scope="col" class="col-md-4">Created On</th>
                                                    <th scope="col" class="col-md-2">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Perth</td>
                                                    <td>Australia</td>
                                                    <td>2024-05-17 01:56:46 PM</td>
                                                    <td>
                                                        <button class="btn btn-sm" data-toggle="tooltip" data-placement="left" title="Update"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                        <button id="modal2" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./row -->
                </div>
                <!-- ./cotainer -->
            </div>
            <!-- ./page-content -->
        </div>
        <!-- ./page-content-wrapper -->


        <script>
            // JavaScript function to handle editing an entry
            function editEntry(id) {
                console.log("Editing entry with ID: " + id);
                debugger
                $.ajax({
                    url: webApi +"api/State/EditState/" + id,
                    method: "GET",
                    cache: false,
                    contentType: "application/json",
                    success: function (response) {
                        console.log("Success:", response);
                        if (response.status == 200) {
                            $('#id').val(response.response.id);
                            $('#state').val(response.response.state);
                            $('#countryId').val(response.response.countryId);
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error here
                        console.error("Error:", xhr.responseText);
                    }
                });

            }

            function deleteEntry(id) {
                console.log("Deleting entry with ID: " + id);

                if (confirm("Are you sure you want to delete this?")) {
                    $.ajax({
                        url: webApi + "api/State/DeleteState/" + id,
                        method: "GET",
                        cache: false,
                        contentType: "application/json",
                        success: function (response) {
                            console.log("Success:", response);
                            if (response.status == 200) {
                                alert(response.message);
                                window.location.reload();
                            }
                        },
                        error: function (xhr, status, error) {
                            // Handle error here
                            console.error("Error:", xhr.responseText);
                        }
                    });
                }
            }

            function main() {
                var $body = $('body');
                $('#modal2').click(function () {
                    ssi_modal.confirm({
                        content: 'Are you sure you want to exit?',
                        okBtn: {
                            className: 'btn btn-primary'
                        },
                        cancelBtn: {
                            className: 'btn btn-danger'
                        }
                    }, function (result) {
                        if (result)
                            ssi_modal.notify('success', {
                                content: 'Result: ' + result
                            });
                        else
                            ssi_modal.notify('error', {
                                content: 'Result: ' + result
                            });
                    });
                });
            }

            main();
        </script>
    </body>

    </html>

}
