.custom-confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.custom-confirm-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.buttons {
    text-align: right;
}

button {
    margin-left: 10px;
}

.required-label::after {
    content: "*";
    color: red; /* You can change the color as needed */
    margin-left: 5px; /* Adjust spacing as needed */
}

.tableRow {
    background-color: #86acef;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
    .image-grid {
        flex-direction: column;
        align-items: center;
    }
}
/* Responsive Styles */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        margin-right: 0;
        margin-bottom: 10px;
    }

        .form-group:last-child {
            margin-bottom: 0;
        }

        .form-group.float-lg-end {
            margin-top: 10px;
        }
}
