@page
@using TestEmployeeApp.Model
@model TestEmployeeApp.Pages.Leave.ApplyLeaveModel
@{
    ViewData["Title"] = "Apply Leave";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply Leave</title>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <style>
        .card-content {
            padding-bottom: 100px !important;
        }
    </style>


    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="page-content">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="header-icon">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <div class="header-title">
                    <h1> Apply Leave</h1>
                    <small></small>
                    <ul class="link hidden-xs">
                        <li><a asp-area="" asp-page="/Index"><i class="fa fa-home"></i>Home</a></li>
                        <li><a asp-area="" asp-page="/Leave/ApplyLeave">Apply Leave</a></li>
                    </ul>
                </div>
            </section>
            <!-- page section -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <form class="col s12 m-t-20" method="post">
                                        <div class="input-field form-input col s12">
                                            <input class="dateselect" type="text" placeholder="From Date" required>
                                        </div>
                                        <div class="input-field form-input col s12">
                                            <input class="dateselect" type="text" placeholder="To Date" required>
                                        </div>
                                        <div class="input-field form-input col s12">
                                            <input type="text" placeholder="Number Of Days" readonly>
                                        </div>
                                        <div class="input-field form-input form-input-select col s12">
                                            <label>Leave Type</label>
                                            <select class="icons">
                                                <option value="" disabled selected>Select Leave Type</option>
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                            </select>
                                        </div>
                                        <div class="input-field form-input col s12">
                                            <i class="material-icons prefix">textsms</i>
                                            <input id="icon_prefix" type="text" class="validate">
                                            <label for="icon_prefix">Description</label>
                                        </div>
                                        <div class="input-field form-input col s2">
                                            <a type="submit" class="waves-effect waves-light btn blue">Submit <span class="glyphicon glyphicon-send"></span></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./row -->
            </div>
            <!-- ./cotainer -->
        </div>
        <!-- ./page-content -->
    </div>
    <!-- ./page-content-wrapper -->


    <script>
        $(document).ready(function () {

            function calculateNumberOfDays() {
                
                var fromDate = new Date($("#FromDate").val());
                var toDate = new Date($("#ToDate").val());

                if (fromDate && toDate && fromDate <= toDate) {
                    var timeDiff = Math.abs(toDate - fromDate);
                    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1; // Add 1 to include the last day
                    $("#NumberOfDays").val(diffDays);
                } else {
                    $("#NumberOfDays").val('');
                }
            }

            $("#FromDate, #ToDate").on("change", calculateNumberOfDays);
            $("#LeaveType").on("change", function () {
                if ($("#LeaveType").val() == 3) {
                    $("#earlyLeaveTime").show();
                }
                else { 
                    $("#earlyLeaveTime").hide();
                }
            });
        });
    </script>
</body>
</html>
